<div class='accommodation-item'>
  <div class='accommodation-item__galleria'>
    <img src='/img/im5.jpg.webp'>
  </div>
  <div class='accommodation-item__info'>
    <div class="accommodation-item__type">
      <p>Дом целиком</p>
    </div>
    <div class="accommodation-item__title">
      <p>West SUNSET STRIP</p>
    </div>
    <div class='accommodation-item__line'></div>
    <div class="accommodation-item__people">
      <p>max guest: 5 max child: 5</p>
    </div>
    <div class="accommodation-item__location">
      <p>California San Hose</p>
    </div>
    <div class="accommodation-item__numbers">
      <div class="accommodation-item__rating">
        <i class="fa fa-star" aria-hidden="true"></i>
        <p>4.5</p>
      </div>
      <div class="accommodation-item__cost">
        <p>180$</p>
      </div>
    </div>
  </div>
</div>