<div class="sign">
<div class="sign__content">
  <div class="sign__left-block">
    <h1>Войти</h1>
    <a id="github-fetch" class="btn-sign"><i class="fa fa-github"></i> С помощью Github</a>
    <a href="#" class="btn-sign"><i class="fa fa-vk"></i> С помощью Vk</a>
    <a href="#" class="btn-sign"><i class="fa fa-google"></i> С помощью Google</a>
    <a href="#" class="btn-sign"><i class="fa fa-apple"></i> Продолжить с Apple</a>
  </div>
  <div class="sign__right-block">
    <h2>С помощью почты</h2>
    <form class="sign__form">
      <fieldset class="sign__email-input">
        <input id="sign-in-email" type="email" placeholder="example@site.com" />
      </fieldset>
      <fieldset class="sign__password-input">
        <input id="sign-in-pass" type="password" placeholder="password" />
      </fieldset>
      <button id="sign-in__submit-button" type="submit" class="btn-base btn-base__font_story">Войти</button>
    </form>
  </div>
</div>
</div>
<script src="/js/auth.js"></script>