<footer class="footer">
  <div class="footer__head">
    <h3>Bed and Bathroom - это учебный проект по Web-программированию</h3>

    <div class="footer__social-media-logo">
      <a href="https://vk.com/rifoo" class="fa fa-vk"></a>
      <a href="https://t.me/rifat_t" class="fa fa-telegram"></a>
      <a href="https://github.com/rifat-coder" class="fa fa-github"></a>
      <a href="https://github.com/rifat-coder" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-youtube-play"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-pied-piper"></a>
    </div>
  </div>
  <div class="footer__body">
    <div class="footer__menu">
      <a href="/api">API сервиса</a>
      <a href="#">Условия</a>
      <a href="#">Конфиденциальность</a>
      <br>
      <a href="https://github.com/is-web-y23/web-bb">Ссылка на проект</a>
      <br>
      <p class="footer__load-time"><strong>Total load time:</strong> <span id="footer__time-tag"></span> ms (client) + {{ delay }} ms (server)</p>
      <svg viewBox="0 0 640 160" height="70">
        <g style="" transform="matrix(1.267592, 0, 0, 1.267592, -61.79866, -21.407356)">
          <g id="work" display="none">
            <g display="inline">
              <path fill="none" stroke-width="4" stroke-miterlimit="10" d="M267,91v12.2c0,0,4-1.8,8-1.8s4,3.4,4,3.4V115" style="stroke: rgb(251, 250, 250);"></path>
              <g>
                <polygon fill="#430098" points="269,111.2 265,115.2 265,107.2 					" style="stroke: rgb(251, 250, 250);"></polygon>
              </g>
              <g>
                <defs>
                  <rect id="SVGID_1_" x="275" y="91" width="7" height="5"></rect>
                </defs>
                <clipPath id="SVGID_2_">
                  <rect x="275" y="91" width="7" height="5" transform="matrix(1, 0, 0, 1, 0, 0)" overflow="visible"></rect>
                </clipPath>
                <g clip-path="url(#SVGID_2_)">
                  <path fill="#430098" d="M281.3,91c0,0,0,0.1-0.1,0.3c-0.1,0.2-0.2,0.6-0.3,1c-0.3,0.8-0.7,1.8-1.3,2.8c-0.5,1-1.1,1.9-1.5,2.7
							c-0.4,0.7-0.7,1.2-0.7,1.2l-3-1.9c0,0,0.3-0.4,0.7-1.1c0.4-0.6,0.8-1.5,1.2-2.4c0.4-0.9,0.7-1.8,0.9-2.5
							c0.1-0.4,0.2-0.6,0.2-0.8c0.1-0.2,0.1-0.3,0.1-0.3L281.3,91z" style="stroke: rgb(251, 250, 250);"></path>
                </g>
              </g>
            </g>
            <g display="inline">
              <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M317.5,94v7.5c0,0,2.6-1,5.3-1c3,0,2.7,3,2.7,3
					v6.5" style="stroke: rgb(251, 250, 250);"></path>
              <g>
                <polygon fill="#430098" points="318.7,107.5 316,110.1 316,104.8 					" style="stroke: rgb(251, 250, 250);"></polygon>
              </g>
              <g>
                <defs>
                  <rect id="SVGID_3_" x="322" y="94" width="5" height="3"></rect>
                </defs>
                <clipPath id="SVGID_4_">
                  <rect x="322" y="94" width="5" height="3" transform="matrix(1, 0, 0, 1, 0, 0)" overflow="visible"></rect>
                </clipPath>
                <g clip-path="url(#SVGID_4_)">
                  <path fill="#430098" d="M326.8,94c0,0,0,0.1-0.1,0.2c-0.1,0.2-0.1,0.4-0.2,0.6c-0.2,0.5-0.5,1.2-0.8,1.9
							c-0.7,1.3-1.5,2.6-1.5,2.6l-2-1.3c0,0,0.2-0.3,0.4-0.7c0.3-0.4,0.5-1,0.8-1.6c0.3-0.6,0.5-1.2,0.6-1.7
							c0.1-0.2,0.1-0.4,0.2-0.6c0-0.1,0.1-0.2,0.1-0.2L326.8,94z" style="stroke: rgb(251, 250, 250);"></path>
                </g>
              </g>
            </g>
            <g display="inline">
              <path fill="none" stroke-width="2" stroke-miterlimit="10" d="M349,96v6.1c0,0,2-1,4-1s2,2,2,2v4.9" style="stroke: rgb(251, 250, 250);"></path>
              <g>
                <polygon fill="#430098" points="350.5,106.5 348,108 348,105 					" style="stroke: rgb(251, 250, 250);"></polygon>
              </g>
              <g>
                <defs>
                  <rect id="SVGID_5_" x="352" y="96" width="4" height="3"></rect>
                </defs>
                <clipPath id="SVGID_6_">
                  <rect x="352" y="96" width="4" height="3" transform="matrix(1, 0, 0, 1, 0, 0)" overflow="visible"></rect>
                </clipPath>
                <g clip-path="url(#SVGID_6_)">
                  <path fill="#430098" d="M355.8,96c0,0-0.1,0.3-0.2,0.7c-0.1,0.4-0.4,0.9-0.6,1.4c-0.5,1-1.1,1.9-1.1,1.9l-1.5-1
							c0,0,0.6-0.8,0.9-1.7c0.2-0.5,0.4-0.9,0.5-1.3c0.1-0.4,0.2-0.6,0.2-0.6L355.8,96z" style="stroke: rgb(251, 250, 250);"></path>
                </g>
              </g>
            </g>
            <g display="inline">
              <path fill="#7D868C" d="M297.5,145c0.4,0,0.5,0.4,0.5,0.8v16.9c0,0.4-0.1,0.3-0.5,0.3h-14.5c-0.4,0-0.9,0.1-0.9-0.3v-16.9
					c0-0.4,0.5-0.8,0.9-0.8H297 M297.5,144h-14.5c-0.9,0-1.9,0.9-1.9,1.8v16.9c0,0.9,1,1.3,1.9,1.3h14.5c0.9,0,1.5-0.3,1.5-1.3
					v-16.9C299,144.9,298.4,144,297.5,144L297.5,144z" style="stroke: rgb(251, 250, 250);"></path>
            </g>
            <g display="inline">
              <path id="Heroku_Logo_1_" fill="#7D868C" d="M285.8,161.3 M286,161.3L286,161.3V157l2.2,2.2L286,161.3" style="stroke: rgb(251, 250, 250);"></path>
              <path fill="#7D868C" d="M291.1,151h2.1c1.1-2,1.6-3,1.7-4h-2.1C292.5,148,291.9,150,291.1,151z" style="stroke: rgb(251, 250, 250);"></path>
              <g>
                <path fill="#7D868C" d="M295,161h-2v-5.6c0-0.5-0.2-0.7-0.4-0.8c-1-0.7-3.8,0-5.5,0.6l-1.3,0.3l0-8.5h2.2v5.9
						c0-0.1,0.7-0.2,1.2-0.3c2.1-0.4,3.6-0.3,4.6,0.4c0.5,0.4,1.2,1.1,1.2,2.5V161z" style="stroke: rgb(251, 250, 250);"></path>
              </g>
            </g>
            <text transform="matrix(1 0 0 1 321 75)" style="font-family: SmallBoldPixel-7; font-size: 20px; stroke: rgb(251, 250, 250); white-space: pre;">built on heroku</text>
            <text transform="matrix(1 0 0 1 321 64)" style="font-family: SFIntermosaic-Bold; font-size: 8px; stroke: rgb(251, 250, 250); white-space: pre;">built on heroku</text>
            <text transform="matrix(1 0 0 1 321 56)" style="font-family: MiniKylie; font-size: 8px; stroke: rgb(251, 250, 250); white-space: pre;">built on heroku</text>
            <text transform="matrix(1 0 0 1 405.3333 118)" style="font-family: MiniKylie; font-size: 8px; letter-spacing: 1px; stroke: rgb(251, 250, 250); white-space: pre;">built on heroku</text>
            <text transform="matrix(1 0 0 1 91 129)" style="fill: rgb(125, 134, 140); font-family: MiniKylie; font-size: 8px; letter-spacing: 1px; stroke: rgb(251, 250, 250); white-space: pre;">built on            heroku</text>
            <g display="inline">
              <path fill="none" stroke-miterlimit="10" d="M145.5,122v4.5c0,0,1.7-1,3.2-1s1.8,1,1.8,1v4.5" style="stroke: rgb(251, 250, 250);"></path>
              <g>
                <polygon fill="#7D868C" points="146.6,129.5 145,131 145,128 					" style="stroke: rgb(251, 250, 250);"></polygon>
              </g>
              <g>
                <defs>
                  <rect id="SVGID_12_" x="148" y="122" width="3" height="2"></rect>
                </defs>
                <clipPath id="SVGID_8_">
                  <rect x="148" y="122" width="3" height="2" transform="matrix(1, 0, 0, 1, 0, 0)" overflow="visible"></rect>
                </clipPath>
                <g clip-path="url(#SVGID_8_)">
                  <path fill="#7D868C" d="M151,121.9c0,0-0.1,0.2-0.2,0.5c-0.1,0.3-0.3,0.7-0.4,1c-0.4,0.7-0.8,1.4-0.8,1.4l-0.7-0.5
							c0,0,0.4-0.6,0.7-1.3c0.2-0.3,0.3-0.7,0.4-1c0.1-0.3,0.1-0.5,0.1-0.5L151,121.9z" style="stroke: rgb(251, 250, 250);"></path>
                </g>
              </g>
            </g>
            <path display="inline" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
				M153.5,133.5h-11c-0.6,0-1-0.4-1-1v-12c0-0.6,0.4-1,1-1h11c0.6,0,1,0.4,1,1v12C154.5,133.1,154.1,133.5,153.5,133.5z" style="stroke: rgb(251, 250, 250);"></path>
          </g>
          <g id="Layer_1">
            <g>
              <path fill="#FFFFFF" d="M50.4,70.2h9.3c4.3,0,8.3,1,8.3,5.7c0,3.3-2.1,4.9-4.4,5.3v0.1c2.8,0.5,5,2,5,5.7c0,4.7-4.1,6.4-8.4,6.4
					h-9.8V70.2z M59.2,79.8c2.7,0,3.9-1,3.9-2.8c0-1.8-1.1-2.8-3.8-2.8h-3.8v5.6H59.2z M59.5,89.6c2.8,0,4.1-1.1,4.1-3.1
					c0-2-1.5-3-4.3-3h-3.9v6.1H59.5z" style="stroke: rgb(251, 250, 250);"></path>
              <path fill="#FFFFFF" d="M77.1,84.6V70.2h5.1v14.2c0,3.4,1.3,5.2,4.3,5.2c3,0,4.3-1.9,4.3-5.2V70.2h5v14.3c0,5.7-2.9,9.3-9.3,9.3
					S77.1,90.2,77.1,84.6z" style="stroke: rgb(251, 250, 250);"></path>
              <path fill="#FFFFFF" d="M105.1,70.2h5.1v23.2h-5.1V70.2z" style="stroke: rgb(251, 250, 250);"></path>
              <path fill="#FFFFFF" d="M119.9,70.2h5.1v19.1h10.2v4.1h-15.3V70.2z" style="stroke: rgb(251, 250, 250);"></path>
              <path fill="#FFFFFF" d="M148.2,74.5h-6.9v-4.3h18.9v4.3h-6.9v18.9h-5.1V74.5z" style="stroke: rgb(251, 250, 250);"></path>
              <path fill="#FFFFFF" d="M193.2,81.8c0-8.2,5.3-12,10.9-12c5.6,0,10.9,3.9,10.9,12c0,8.2-5.3,12-10.9,12
					C198.6,93.9,193.2,90,193.2,81.8z M210,81.8c0-4.9-2.3-7.8-5.8-7.8c-3.6,0-5.8,2.9-5.8,7.8c0,4.9,2.2,7.9,5.8,7.9
					C207.8,89.8,210,86.7,210,81.8z" style="stroke: rgb(251, 250, 250);"></path>
              <path fill="#FFFFFF" d="M223.5,70.2h5.1l9.7,14.8h0.1V70.2h4.7v23.2h-4.7l-10.1-14.9h-0.1v14.9h-4.7V70.2z" style="stroke: rgb(251, 250, 250);"></path>
              <path fill="#FFFFFF" d="M397.1,70.2h5.1v9h9.1v-9h5.1v23.2h-5.1v-9.9h-9.1v9.9h-5.1V70.2z" style="stroke: rgb(251, 250, 250);"></path>
              <path fill="#FFFFFF" d="M426,70.2h15.8v4.3h-10.7v5h7.7v4h-7.7v5.8h11.3v4.1H426V70.2z" style="stroke: rgb(251, 250, 250);"></path>
              <path fill="#FFFFFF" d="M450.5,70.2h8.7c5.7,0,9.1,2,9.1,7.2c0,3.7-1.7,5.7-4.8,6.6l5.2,9.4h-5.4l-4.8-8.7h-2.9v8.7h-5V70.2z
					 M459,80.7c2.9,0,4.4-0.8,4.4-3.2c0-2.3-1.4-3.1-4.4-3.1h-3.5v6.3H459z" style="stroke: rgb(251, 250, 250);"></path>
              <path fill="#FFFFFF" d="M476.2,81.8c0-8.2,5.3-12,10.9-12c5.6,0,10.9,3.9,10.9,12c0,8.2-5.3,12-10.9,12
					C481.6,93.9,476.2,90,476.2,81.8z M493,81.8c0-4.9-2.3-7.8-5.8-7.8c-3.6,0-5.8,2.9-5.8,7.8c0,4.9,2.2,7.9,5.8,7.9
					C490.8,89.8,493,86.7,493,81.8z" style="stroke: rgb(251, 250, 250);"></path>
              <path fill="#FFFFFF" d="M506.5,70.2h5.1v9.6l7.8-9.6h6l-7.9,9.1l8.7,14.1h-5.8l-6.2-10.3l-2.5,2.9v7.4h-5.1V70.2z" style="stroke: rgb(251, 250, 250);"></path>
              <path fill="#FFFFFF" d="M533.3,84.6V70.2h5.1v14.2c0,3.4,1.3,5.2,4.3,5.2c3,0,4.3-1.9,4.3-5.2V70.2h5v14.3
					c0,5.7-2.9,9.3-9.3,9.3S533.3,90.2,533.3,84.6z" style="stroke: rgb(251, 250, 250);"></path>
            </g>
            <g id="logo_1_">
              <path fill="#FFFFFF" d="M347.8,40h-57.6c-4,0-7.2,3.2-7.2,7.2v65.6c0,4,3.2,7.2,7.2,7.2h57.6c4,0,7.2-3.2,7.2-7.2V47.2
					C355,43.2,351.8,40,347.8,40z M351,112.8c0,1.8-1.4,3.2-3.2,3.2h-57.6c-1.8,0-3.2-1.4-3.2-3.2V47.2c0-1.8,1.4-3.2,3.2-3.2h57.6
					c1.8,0,3.2,1.4,3.2,3.2V112.8z" style="stroke: rgb(251, 250, 250);"></path>
              <polygon fill="#FFFFFF" points="301,108 310,100 301,92 				" style="stroke: rgb(251, 250, 250);"></polygon>
              <path fill="#FFFFFF" d="M333.5,75.6c-1.6-1.6-4.6-3.6-9.5-3.6c-5.4,0-11,1.4-15,2.7V52h-8v34.7l5.7-2.6c0.1,0,9.2-4.1,17.3-4.1
					c4.1,0,5,2.2,5,4.1V108h8l0-24C337,83.5,337,79.1,333.5,75.6z" style="stroke: rgb(251, 250, 250);"></path>
              <path fill="#FFFFFF" d="M323,65h8c3.6-4.1,5.5-8.5,6-13h-8C328.1,56.5,326.1,60.9,323,65z" style="stroke: rgb(251, 250, 250);"></path>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <div class="footer__about-project">
      <p><strong>О проекте:</strong></p>
      <p>Система краткосрочной аренды жилья для путешественников.
        На площадке будут администратор, лицо, которое сдаёт своё жильё(хост)
        и человек, который желает арендовать жильё(гость).<br>
        Хост может разместить объявление,
        по сдаче своего помещения, указав все параметры (срок на который готов сдать,
        площадь, цена за сутки и т.д). А гость задаёт необходимые параметры поиска и выбирает
        жильё из предложенных вариантов. Администратор это лицо, через которое проходят
        все сделки, также он проверяет, как хоста, так и гостя.</p>
    </div>
  </div>
  <div class="footer__logo-block">
    <p>Was written by Rifat<br>Spring 2022</p>
    <p>6th semester<br>IFMO FITIP IS</p>
    <img src="/img/lg1-l.png" alt="logo-bb">
    <img src="/img/nestjs.svg" alt="logo-nestjs">
  </div>
</footer>
<script src="/js/foot.js"></script>
<script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-website/bundle/bundle.js"></script>
<script>
  supertokens.init({
    apiDomain: "http://localhost:716",
    apiBasePath: "/auth"
  });
</script>