<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href='/css/main.css'>
  <link rel="stylesheet" href='/css/intro-host.css'>
  <link rel="stylesheet" href='/css/search-page.css'>
  <link rel="stylesheet" href='/css/not-found.css'>
  <link rel="stylesheet" href='/css/help.css'>

  <link rel="stylesheet" href='/css/elements/head.css'>
  <link rel="stylesheet" href='/css/elements/foot.css'>
  <link rel="stylesheet" href='/css/elements/search-form.css'>
  <link rel="stylesheet" href='/css/elements/accom_item.css'>
  <link rel="stylesheet" href='/css/elements/button.css'>
  <link rel="stylesheet" href='/css/elements/auth.css'>
  <link rel="stylesheet" href='/css/elements/chat.css'>

  <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href='https://fonts.googleapis.com/icon?family=Material+Icons'>

  <link rel="icon" href='/img/bb-favicon@2x.png'>

  <title>{{ title }}</title>

</head>