<!--<!DOCTYPE html>-->
<html lang='en'>

{{> head}}

<body>

{{> header }}

<main>

  <div class="block-help-1">
    <div class="block-help-1__body">
      <h1> Задай вопрос боту</h1>
      <p>К сожалению он мало, что понимает( <br>
        но можно общаться с другими людьми, кто <br>
        также сидит на этой странице.
      </p>
    </div>
  </div>

  {{> chat }}

  {{> foot }}

</main>
</body>
</html>
