<!DOCTYPE html>
<html lang='en'>

{{> head}}

<body>

<div class="intro-host-1th-block">
	<div class="intro-host-1th-block-left">
	<h1>Принимайте гостей<br>где угодно, как угодно<br>на Bed and Bathroom</h1>
	<button class="form-btn">Принять гостей</button>
	</div>
	<video autoplay="autoplay" loop="loop"> <source src="/img/vid1.mp4"> </video>
</div>

<div class="intro-host-2th-block">
	<h3>Стать хозяином может каждый<br>на Bed and Bathroom</h3>
	<p>У вас есть свободное жильё? Зарабатывайте, принимая гостей. Мы расскажем, как начать.</p>

	<div class="intro-host-2th-block-col">
	<div class="intro-host-2th-col1">
	<h4>Главное</h4>
	<p>В объявлении на Bed and Bathroom честно и точно рассказать путешественникам, что их ждет. Быстро и четко отвечайте гостям, поддерживайте жильё в чистоте и позаботьтесь об основных удобствах для комфортного проживания.</p>
	</div>
	<div class="intro-host-2th-col2"> 
	<h4>Вы сами определяете цену</h4>
	<p>Принимая гостей на Bed and Bathroom, вы предлагаете жильё путешественникам без лишних обязательств, а именно без платы за регистрацию или членских взносов. Цену за ночь также определяете вы.</p>
	</div>
	<div class="intro-host-2th-col3"> 
	<h4>Получайте бронирования</h4>
	<p>После публикации объявления на Bed and Bathroom вы начнете получать заявки и бронирования от гостей. Платформа списывает оплату с них оплату до прибытия. Вам не придется напрямую иметь дело с деньгами.</p>
	</div>
	</div>
</div>

<div class="intro-host-slider">
	<h3>Как начать прием гостей</h3>
	<p>Начните с любого этапа, а мы поможем. У нас есть советы, видеоролики и инструкции.</p>
	<div class="intro-host-slider-list">
		<div class="intro-host-slider-track">
			<div class="slide">
				<img src="/img/im17.webp" alt="d">
				<div class="txt-top-left">
				<p>Bed and Bathroom</p>
				Создайте объявление</div>
				<button id="slider-btn" class="btn-white">Подробнее</button>
			</div>
      		<div class="slide">
      			<img src="/img/im19.webp" alt="d">
      			<div class="txt-top-left">
      			<p>Bed and Bathroom</p>
      			Сфотографируйте жильё</div>
      			<button id="slider-btn" class="btn-white">Подробнее</button>
      		</div>
      		<div class="slide">
      			<img src="/img/im20.webp" alt="d">
      			<div class="txt-top-left">
      			<p>Bed and Bathroom</p>
      			Подчеркните особенности</div>
      			<button id="slider-btn" class="btn-white">Подробнее</button>
      		</div>
      		<div class="slide">
      			<img src="/img/im21.webp" alt="d">
      			<div class="txt-top-left">
      			<p>Bed and Bathroom</p>
      			Установите тариф за ночь</div>
      			<button id="slider-btn" class="btn-white">Подробнее</button>
      		</div>
      		<div class="slide">
      			<img src="/img/im22.webp" alt="d">
      			<div class="txt-top-left">
      			<p>Bed and Bathroom</p>
      			Подготовьте жильё</div>
      			<button id="slider-btn" class="btn-white">Подробнее</button>
      		</div>
      		<div class="slide">
      			<img src="/img/im23.webp" alt="d">
      			<div class="txt-top-left">
      			<p>Bed and Bathroom</p>
      			Купите всё необходимое для гостей</div>
      			<button id="slider-btn" class="btn-white">Подробнее</button>
      		</div>
      </div>
	</div>
	<div class="intro-host-slider-arrows">
		<button type="button" class="left">&larr;</button>
    	<button type="button" class="right">&rarr;</button>
  	</div>
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Шаг 1: Создайте объявление</h2>
    <p><strong>Начните с основной информации</strong><br>
		Что нужно в жилье на Bed and Bathroom? Как минимум, гостям требуется чистая, комфортная спальня и туалет. Не везде есть кухня, но, если об этом предупредить, проблем не будет.</p>
	<p><strong>Честно рассказывайте о плюсах и минусах</strong><br>
		Жильё хозяйки Джой из Сан-Франциско удобно расположено в центре, но иногда там немного шумно. Она честно описала плюсы и минусы, поэтому получила сотни хороших отзывов. «Самое удобное в моем жилье — местоположение. Центр Сан-Франциско, — говорит Джой. — Но если вы не любите городскую суету, вам может тут не понравиться».</p>
		<p><strong>Решите, что будет доступно гостям</strong><br>Можно указать, что жильё или отдельная комната в полном распоряжении гостей или что общими помещениями (спальней, кухней или туалетом) могут пользоваться ваши родные, соседи или другие гости. Решать только вам. Главное — поддерживайте чистоту и рассказывайте гостям, чего следует ожидать.</p>
    <h2>Шаг 2: Сфотографируйте жильё</h2>
    <p><strong>Фотосъёмка:</strong><br>
    Со смартфонами это так просто! Всё на ваших фото должно выглядеть аккуратно и чисто. Используйте естественное освещение. С ним помещение смотрится выгоднее всего. Для этого откройте все шторы, чтобы в комнате стало максимально светло. Снимайте из за углов, так в кадр больше помещается. Подумайте о фишках вашего жилья, покажите интересные закоулки. У вас всё получится!</p>
    <h2>Шаг 3: Подчеркните особенности</h2>
    <p><strong>Уникальность жилья:</strong><br>Когда будете придумывать название и описание объявления, упомяните, что делает жильё особенным (например, живописный вид или бассейн). Не забудьте рассказать о лестницах, парковке и других важных деталях, которые гостям следует знать перед бронированием.
</p>
    <h2>Шаг 4: Установите тариф за ночь</h2>
    <p><strong>Установите адекватную цену</strong><br>
    	Ваше жильё не похоже на Тадж-Махал? Ничего страшного! При выгодной цене многие гости будут довольны и скромными условиями. Если вы только начали сдавать жильё, можно установить стоимость немного ниже желаемой. Так вы привлечете гостей и получите хорошие отзывы, что позволит впоследствии повысить цену.</p>
    <h2>Шаг 5: Подготовьте жильё</h2>
    <p><strong>Ждете вы первого гостя или сотого, нужно подготовиться к его приезду.</strong><br>Все ожидают, что жилье будет чистым, как на фото. Оставьте время на уборку, особенно если гости приезжают в день выезда предыдущих жильцов.</p>
    <p>Уберите ценные вещи. Если у вас есть ювелирные украшения, паспорта или ценности, поместите их в закрытую комнату, шкаф или сейф. Можно также отдать их на хранение родственникам или друзьям.</p>
    <h2>Шаг 6: Купите всё необходимое для гостей</h2>
    <p><strong>Самое необходимое:</strong><br>гости ценят, когда в жилье есть основные удобства. Bed and Bathroom рекомендует подготовить туалетную бумагу, мыло для рук и тела, постельное белье и хотя бы 1 полотенце и подушку на человека.</p>
    <p>Гости любят, когда всё продумано до мелочей. Справочник гостя с инструкциями и советами поможет им сориентироваться. Путешественникам также будет приятно, если в жилье их будет ждать бутылка вина или сувенир, но вы не обязаны этого делать.</p>
  </div>
</div>

<div class="faq-block"> 
	<div class="fag-left-block">
		<h2>Ответы на все вопросы,</h2>
		<p>которыми задаются хозяева: от местных законов до защиты имущества.</p>
	</div>
	<div class="fag-right-block">
		<div class="accordion">
			<div class="accordion-item">
      			<button class="accordion-button">
      				<span>Подходит ли мое жилье для Bed and Bathroom?</span>
      				<i class="material-icons">keyboard_arrow_down</i>
      			</button>
      			<div class="accordion-content">
        		<p>Возможно, вы думаете, что уютный парусник или квартира в шумном центре не будут пользоваться спросом, но гостям нравится разное жильё, даже необычное или скромное. Главное — создать подробное и честное объявление с описанием достоинств, будь то роскошь, уникальность или простота и дешевизна.
        		Хозяином на Bed and Bathroom может стать любой человек со свободным жильём. Не существует идеальных объявлений.</p>
      			</div>
			</div>
			<div class="accordion-item">
      			<button class="accordion-button">
      				<span>Как зарабатывать на приеме гостей?</span>
      				<i class="material-icons">keyboard_arrow_down</i>
      			</button>
      			<div class="accordion-content">
        		<p>Чтобы получать деньги на Bed and Bathroom, выберите способ выплаты в разделе «Платежи и выплаты» своего аккаунта. Ваш заработок зависит от длительности проживания гостей, примененных скидок и т. д. Задержка выплаты или снижение ее суммы могут быть связаны с отменой или изменением бронирований (когда гости получают полный или частичный возврат средств).</p>
      			</div>
			</div>
			<div class="accordion-item">
      			<button class="accordion-button">
      				<span>Как установить плату за уборку?</span>
      				<i class="material-icons">keyboard_arrow_down</i>
      			</button>
      			<div class="accordion-content">
        		<p>Важно адекватно соотносить плату за уборку и правила поведения в жилье. Просите гостей перед выездом поставить тарелки в посудомоечную машину и снять постельное белье? Назначьте минимальную плату или не взимайте ее вообще. Если же вы установили более значительную сумму, гости будут считать себя вправе не убирать за собой, как при выезде из отеля.
        		</p>
        		<p><strong>Определяя стоимость уборки, советуем учесть следующее:</strong><p>
        		<ul>
        			<li>плата предназначена для покрытия расходов, а не дополнительного заработка;</li>
        			<li>если вы только начинаете принимать гостей, не торопитесь добавлять этот сбор, дождитесь положительных отзывов;</li>
        		</ul>
      			</div>
			</div>
			<div class="accordion-item">
      			<button class="accordion-button">
      				<span>Сколько взимает Bed and Bathroom с хозяев?</span>
      				<i class="material-icons">keyboard_arrow_down</i>
      			</button>
      			<div class="accordion-content">
        		<p>Большинство хозяев платят фиксированный сервисный сбор в размере 3% от подытога бронирования. Обычно сервисный сбор для гостей составляет около 14% от подытога бронирования.</p>
        		<p>К примеру, если 3 ночи стоят 300 $, а плата за уборку составляет 60 $, подытог бронирования составит 360 $. Приблизительно 3% от этой суммы (10,80 $) вычитается из вашего дохода как часть сервисного сбора с хозяина, а 14% (50,40 $) включается в общую сумму, которую платит гость. В этом примере:
        		<ul>
        			<li>вы заработали бы 349,20 $;</li>
        			<li>гость заплатил бы 410,40 $.</li>
        		</ul>
        		</p>
        		<p>Сервисные сборы Bed and Bathroom невысокие по сравнению с конкурентами. Мы не берем плату за обработку платежей, из-за чего хозяева получают больше.</p>
      			</div>

			</div>
			<div class="accordion-item">
      			<button class="accordion-button">
      				<span>Как Bed and Bathroom защищает хозяев?</span>
      				<i class="material-icons">keyboard_arrow_down</i>
      			</button>
      			<div class="accordion-content">
        		<p>До бронирования гости сообщают Bed and Bathroom свое полное имя, дату рождения, номер телефона, электронный адрес и платежную информацию. Кроме того, хозяева могут требовать подтверждения личности с помощью удостоверения государственного образца.</p>
        		<p>Можно ознакомиться с гостями до бронирования. Смотрите профили путешественников, читайте отзывы о них.</p>
        		<p>С этими средствами защиты и основными мерами безопасности с вашей стороны можно уверенно принимать гостей.</p>
      			</div>
			</div>
			<div class="accordion-item">
      			<button class="accordion-button">
      				<span>Что дает прием гостей с Bed and Bathroom?</span>
      				<i class="material-icons">keyboard_arrow_down</i>
      			</button>
      			<div class="accordion-content">
        		<p>Какие бы у вас ни были финансовые цели, с приемом гостей на Bed and Bathroom вам будет легче оплатить ипотеку, отремонтировать жилье или накопить на отпуск. Но деньги — это еще не всё! Вы сможете рассказать о своей культуре и познакомиться с людьми, которых иначе бы не встретили, будь то профессиональные музыканты, создатели дронов или цирковые артисты.</p>
      			</div>
			</div>
		</div>
	</div>
</div>

<script>
let offset = 0;
const sliderLine = document.querySelector('.intro-host-slider-track');

document.querySelector('.right').addEventListener('click', function(){
    offset -= 350;
    if (offset < -1050) {
        offset = 0;
    }
    sliderLine.style.left = offset + 'px';

});

document.querySelector('.left').addEventListener('click', function () {
    offset += 350;
    if (offset >= 0) {
        offset = 0;
    }
    sliderLine.style.left = offset + 'px';
});
</script>

<script>
var modal = document.getElementById("myModal");
var span = document.getElementsByClassName("close")[0];
var btn = document.getElementsByClassName("btn-white");
var i;

for (i = 0; i < btn.length; i++) {
  btn[i].addEventListener("click", function() {
  	modal.style.display = "block";
  });
}

span.addEventListener("click", function() {
	modal.style.display = "none";
});

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

<script>
var acc = document.getElementsByClassName("accordion-button");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

{{> foot }}

<script src="/js/script.js"></script>
</body>
</html>