<!DOCTYPE html>
<html lang='en'>

{{> head}}

<body>

{{> header }}

<div class='block-error'>
  <div class='block-error__left-side'>
    <h1>Тут этого нет(</h1>
    <h3>Страница не может быть найдена.</h3>
    <p>Код ошибки: 404</p>
  </div>
  <div class='block-error__right-side'>
    <img src='img/404bb.gif' alt='Девочка уронила мороженое.'>
  </div>
</div>

{{> foot }}

</body>

</html>