<!DOCTYPE html>
<html lang='en'>

{{> head}}

<body>

{{> header}}

<div class='search-page__content'>

<div class="search-page__items-list">

<!--	{{> accom_item}}-->

</div>

<div class="search-page__map">

</div>

</div>


{{> foot }}

</body>
</html>
<script src="/js/search-page.js"></script>